:root {

  /* ==========================================================
      COLORES INSTITUCIONALES
    ========================================================== */

  --color-primario: #005F8F;
  --color-secundario: #00B4D8;
  --color-acento: #90E0EF;
  --color-premium: #D4AF37;

  /* ==========================================================
      FONDOS
    ========================================================== */

  --bg-principal: #F8FAFC;
  --bg-secundario: #EAF7FB;
  --bg-dark: #0F172A;

  --bg-navbar: var(--color-primario);
  --bg-footer: var(--bg-dark);

  --bg-card: #FFFFFF;
  --bg-input: #FFFFFF;

  /* ==========================================================
      TEXTOS
    ========================================================== */

  --texto-principal: #0F172A;
  --texto-secundario: #64748B;
  --texto-claro: #FFFFFF;

  /* ==========================================================
      ESTADOS
    ========================================================== */

  --success: #2A9D8F;
  --warning: #F4A261;
  --danger: #E63946;

  /* ==========================================================
      BORDES
    ========================================================== */

  --border-color: #DDE5EC;

  /* ==========================================================
      SOMBRAS
    ========================================================== */

  --shadow-sm: 0 4px 12px rgba(0, 0, 0, .05);
  --shadow-md: 0 8px 25px rgba(0, 0, 0, .08);
  --shadow-lg: 0 15px 35px rgba(0, 0, 0, .12);

  /* ==========================================================
      RADIOS
    ========================================================== */

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  /* ==========================================================
      TRANSICIONES
    ========================================================== */

  --transition: .30s ease-in-out;

}